// -----------------------------------------
// Colors: Define all colors for easy access
// -----------------------------------------

$COLOR_WHITE1: #FFFFFF;
$COLOR_BLACK1: #101113;
$COLOR_GRAY1: #4A4A4A;
$COLOR_GRAY2: #53565A;
$COLOR_GRAY3: #979797;

$COLOR_BLUE1: #009CDE;
$COLOR_BLUE2: #CCEBF8;
$COLOR_BLUE3: #66C3EB;
$COLOR_BLUE4: #22365E;

$COLOR_ORANGE1: #F99D42;
$COLOR_ORANGE2: #B86A01;
$COLOR_ORANGE3: #FFFCF7;
$COLOR_ORANGE4: #FBDEB8;
