// -----------------------------------------
// Colors: Define all colors for easy access
// -----------------------------------------

$COLOR_WHITE1: #FFFFFF;
$COLOR_BLACK1: #101113;
$COLOR_GRAY1: #4A4A4A;

$COLOR_BLUE1: #009CDE;
$COLOR_BLUE2: #CCEBF8;
$COLOR_BLUE3: #66C3EB;
