</style>
<link rel="stylesheet" type="text/css" href="http://palantir.github.io/plottable/style.css">
<style type="text/css">
/*-- Add custom styles after this line --*/
.demo-title { font-size: 24pt; }
.plottable .series-1 .random-data circle {
    fill: red;
    stroke: none;
}

.plottable .series-2 .random-data {
    stroke: green;
}
