root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{json,js,ts}]
charset = utf-8
indent_style = space

[*.{js,ts}]
indent_size = 2

[{package.json,bower.json,.travis.yml,.tslintrc}]
indent_size = 2

[{tsconfig.json}]
indent_size = 4
