{
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "globals": {
    "d3": true,
    "Plottable": true,
    "makeRandomData": true,
    "makeRandomNamedData":  true,
    "deepCopy": true
  },
  "rules": {
    "no-eval": 0,
    "quotes": [2, "double", "avoid-escape"],
    "no-unused-vars": [2, {"vars": "local"}],
    "no-multi-spaces": 0,
    "no-use-before-define": [2, "nofunc"]
  }
}
