{
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "d3": true,
    "Plottable": true,
    "makeRandomData": true,
    "deep_copy": true
  },
  "rules": {
    "no-eval": 0,
    "quotes": 0,
    "no-console": 0,
    "no-unused-vars": [2, {"vars": "local"}],
    "no-multi-spaces": 0,
    "camelcase": 0,
    "comma-spacing": 0,
    "no-use-before-define": 0,
    "strict": 0
  }
}
