.DS_Store
*.tmp.txt
node_modules
build
plottable_multifile.js
test/tests_multifile.js
local/
.tscache/
quicktests/github_token.txt
quicktests/overlaying/list_of_quicktests.json
.idea/
# Emacs
.#*

# vim
*.swp
*~

# Eclipse
*.project
