---
page_id: page-overview
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="/favicon.ico" sizes="16x16 32x32" type="image/x-icon">
  <title>Plottable.js | Palantir</title>
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="Flexible, interactive, performant charts for the web made easy">
  <link rel="stylesheet" href="{{ site.baseurl }}/build/css/style.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/plottable/plottable.css">
  <script src="{{ site.baseurl }}/build/js/modernizr-custom-2.8.2.min.js"></script>
  <script src="{{ site.baseurl }}/bower_components/d3/d3.min.js"></script>
  <script src="{{ site.baseurl }}/bower_components/plottable/plottable.js"></script>

  <!--[if lt IE 9]>
  <script src="{{ site.baseurl }}/build/js/respond-1.4.2.min.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/build/css/ie.css" media="screen, projection" type="text/css">
  <![endif]-->

  <!-- OpenGraph -->
  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
  <meta property="og:url" content="//palantir.github.io/plottable/">
  <meta property="og:site_name" content="Plottable.js">
  <meta property="og:description" content="Flexible, interactive, performant charts for the web made easy.">
</head>
<body id="page-index" data-spy="scroll" data-target=".navbar-page">
  <header id="section-overview">
    <div id="nav-content">
      {% include nav.html %}
      <h1>
        Plottable.js
        <small>Flexible, interactive, performant charts<br>for the web made easy</small>
      </h1>
      <div id="download-container">
        <p>
          <a href="https://github.com/palantir/plottable/archive/master.zip" class="button icon-download no-arrow">Download <span id="version-tag">({{ site.plottable_version }})</span></a>
        </p>
        <p>
          Follow our development on <a href="https://github.com/palantir/plottable" title="Plottable on Github.">Github</a>
        </p>
      </div>
    </div>

    <div id="home-bottom">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
              <h2>Built On Top Of D3</h2>
              <p><strong>Plottable.js</strong> consists of pluggable set of Components which encapsulate rendering logic, and a layout engine that is responsible for positioning them.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header><!-- /header -->

  <div id="page-nav">
    <nav class="navbar-page">
      <ul class="nav" role="tablist">
        <li><a href="#section-overview" data-toggle="tooltip" data-placement="left" title="Overview">Overview</a></li>
        <li><a href="#section-example-1" data-toggle="tooltip" data-placement="left" title="Example">Example</a></li>
        <li><a href="#section-easier-more-usable" data-toggle="tooltip" data-placement="left" title="Easier, More Usable">Easier, More Usable</a></li>
      </ul>
    </nav>
  </div>

  <div id="section-example-1">
    <div class="content">
      <div class="container">
        <div class="row">

          <div class="col-md-3">
            <h3>
              <span class="badge">Example</span><br>
              Plottable Commits and Contributors vs Time
            </h3>
            <p>This Plottable chart displays Plottable's number of commits and contributors over time. Contributors are displayed using a LinePlot over the number of commits displayed as an AreaPlot.</p>
            <p><a id="button-show-source-example-1-source" href="#example-1-source" class="button button-small">Show Source</a></p>
          </div>

          <div id="example-chart-1-container" class="col-md-8 col-md-offset-1">
            <div id="example-chart-1"></div>
          </div>

        </div>
      </div>
    </div>

    <div id="example-chart-1-source-wrapper" class="source-code" style="display: none;">
      <div class="container">
        <div class="row">
          <div id="example-chart-1-source" class="col-sm-8 col-md-offset-2">
{% highlight javascript %}
function makeCommiterChart(svg, commitData, contributorData) {
  var xScale = new Plottable.Scale.Time();
  var yScaleCommits = new Plottable.Scale.Linear();
  var yScaleContrib = new Plottable.Scale.Linear();

  var colorScale = new Plottable.Scale.Color("10");

  var format = d3.time.format("%Y/%m/%d");
  var xAxis = new Plottable.Axis.Numeric(xScale, "bottom", format);
  var yAxisCommits = new Plottable.Axis.Numeric(yScaleCommits, "left");
  var yAxisContrib = new Plottable.Axis.Numeric(yScaleContrib, "right");

  var lineCommits = new Plottable.Plot.Area(commitData, xScale, yScaleCommits)
                    .project("x", "parsedDate", xScale)
                    .project("y", "nCommits", yScaleCommits)
                    .project("fill", function() {return "Commits"}, colorScale);

  var lineContrib = new Plottable.Plot.Line(contributorData, xScale, yScaleContrib)
                    .project("x", "parsedDate", xScale)
                    .project("y", "nContrib", yScaleContrib)
                    .project("stroke", function() {return "Contributors"}, colorScale);

  var grid = new Plottable.Component.Gridlines(xScale, null);

  var group = lineCommits.merge(lineContrib).merge(grid);

  var leftLabel = new Plottable.Component.AxisLabel("Number of Commits", "vertical-left");
  var rightLabel = new Plottable.Component.AxisLabel("Number of Contributors", "vertical-left");
  var legend = new Plottable.Component.Legend(colorScale).xAlign("center");

  var title = new Plottable.Component.TitleLabel("Plottable - Commits & Contributors over Time");
  var titleAndLegend = new Plottable.Component.Table([[title], [legend]]).xAlign("center");

  var table = new Plottable.Component.Table([
    [leftLabel, yAxisCommits, group, yAxisContrib, rightLabel],
    [null, null, xAxis, null, null],
  ]);

  var outerMost = new Plottable.Component.Table([[titleAndLegend], [table]]).renderTo(svg);

  xScale._autoPad = false;
  xScale.autoDomain();
}

window.onload = function() {
  d3.json("gitstats2.json", function(data) {
    data.forEach(function(d) {
      d.parsedDate = new Date(d.date);
      d.name = d.name === "ashwinraman9" ? "aramaswamy" : d.name;
    });
    data.sort(function(a, b) {return a.parsedDate - b.parsedDate})
    var nCommits = 0;
    commitData = data.map(function(d) {
      return {parsedDate: d.parsedDate, nCommits: ++nCommits};
    });
    var contribSet = d3.set();
    contribData = [];
    data.forEach(function(d) {
      var c = d.name;
      contribData.push({parsedDate: d.parsedDate, nContrib: contribSet.size()});
      contribSet.add(c);
      contribData.push({parsedDate: d.parsedDate, nContrib: contribSet.size()});
    });
    var svg = d3.select("#example-chart-1").append("svg").attr("width", "100%").attr("height", 600);
    makeCommiterChart(svg, commitData, contribData);
  });
}
{% endhighlight %}
          </div>
        </div>
      </div><!-- container -->
    </div>

  </div><!-- /#section-example-1 -->

  <section id="section-easier-more-usable">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6">
            <h2>Easier, More Usable</h2>

            <div id="plot-separator">
              <img class="no-svg" src="{{ site.baseurl }}/build/images/plots.png">
              <img class="svg" src="{{ site.baseurl }}/build/images/plots.svg">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>Because Plottable handles layout, sizing, and positioning, Plottable charts are easier to create and more reusable than charts built only with D3. And, since Plottable Components are powered by D3, the full flexibility of D3 is still available.</p>
          </div>
          <div class="col-sm-6">
            <p>Plottable currently includes components like <strong>LinePlots</strong>, <strong>AreaPlots</strong>, <strong>BarPlots</strong>, <strong>CategoryAxes</strong> (with automatic word-wrapping), <strong>interactive Legends</strong>, and <strong>Labels</strong>. Plottable is open-sourced under the MIT license, and is under active development by <strong>Palantir Technologies</strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer role="contentinfo">
    © 2014 <a href="https://palantir.com/" title="Palantir Technologies">Palantir Technologies</a>. <a href="https://github.com/palantir/plottable" title="Plottable on Github.">Plottable.js</a> is released under the <a href="https://github.com/palantir/plottable/blob/master/LICENSE">MIT license</a>.
  </footer><!-- /footer -->

  {% if site.google_analytics != '' %}
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'none');
    ga('send', 'pageview');
  </script>
  {% endif %}

  <script src="{{ site.baseurl }}/build/js/compiled.min.js"></script>
  <script id="example-1-source">
    function makeCommiterChart(svg, commitData, contributorData) {
      var xScale = new Plottable.Scale.Time();
      var yScaleCommits = new Plottable.Scale.Linear();
      var yScaleContrib = new Plottable.Scale.Linear();

      var colorScale = new Plottable.Scale.Color("10");

      var format = d3.time.format("%Y/%m/%d");
      var xAxis = new Plottable.Axis.Numeric(xScale, "bottom", format);
      var yAxisCommits = new Plottable.Axis.Numeric(yScaleCommits, "left");
      var yAxisContrib = new Plottable.Axis.Numeric(yScaleContrib, "right");

      var lineCommits = new Plottable.Plot.Area(commitData, xScale, yScaleCommits)
                        .project("x", "parsedDate", xScale)
                        .project("y", "nCommits", yScaleCommits)
                        .project("fill", function() {return "Commits"}, colorScale);

      var lineContrib = new Plottable.Plot.Line(contributorData, xScale, yScaleContrib)
                        .project("x", "parsedDate", xScale)
                        .project("y", "nContrib", yScaleContrib)
                        .project("stroke", function() {return "Contributors"}, colorScale);

      var grid = new Plottable.Component.Gridlines(xScale, null);

      var group = lineCommits.merge(lineContrib).merge(grid);

      var leftLabel = new Plottable.Component.AxisLabel("Number of Commits", "vertical-left");
      var rightLabel = new Plottable.Component.AxisLabel("Number of Contributors", "vertical-left");
      var legend = new Plottable.Component.Legend(colorScale).xAlign("center");

      var title = new Plottable.Component.TitleLabel("Plottable - Commits & Contributors over Time");
      var titleAndLegend = new Plottable.Component.Table([[title], [legend]]).xAlign("center");

      var table = new Plottable.Component.Table([
        [leftLabel, yAxisCommits, group, yAxisContrib, rightLabel],
        [null, null, xAxis, null, null],
        ]);

      var outerMost = new Plottable.Component.Table([[titleAndLegend], [table]]).renderTo(svg);

      xScale._autoPad = false;
      xScale.autoDomain();

    }

    $(window).on('load', function() {
      d3.json("{{ site.baseurl }}/examples/gitstats2.json", function(data) {
        data.forEach(function(d) {
          d.parsedDate = new Date(d.date);
          d.name = d.name === "ashwinraman9" ? "aramaswamy" : d.name;
        });
        data.sort(function(a, b) {return a.parsedDate - b.parsedDate})
        var nCommits = 0;
        commitData = data.map(function(d) {
          return {parsedDate: d.parsedDate, nCommits: ++nCommits};
        });
        var contribSet = d3.set();
        contribData = [];
        data.forEach(function(d) {
          var c = d.name;
          contribData.push({parsedDate: d.parsedDate, nContrib: contribSet.size()});
          contribSet.add(c);
          contribData.push({parsedDate: d.parsedDate, nContrib: contribSet.size()});
        });
        var svg = d3.select("#example-chart-1").append("svg").attr("width", "100%").attr("height", 600);
        makeCommiterChart(svg, commitData, contribData);
      });
    });
  </script>
  <script>
    (function() {
      var $window = $(window),
          $document = $(document);

      $(function() {
        $('a#button-show-source-example-1-source').on('click', function(event) {
          var $this = $(this);
          if ($this.data('showing-source')) {
            $this.data('showing-source', false);
            $this.text('Show Source');
          } else {
            $this.data('showing-source', true);
            $this.text('Hide Source');
          }

          var $sourceWrapper = $('#example-chart-1-source-wrapper').show(),
              $source = $('#example-chart-1-source');
          if ($this.data('showing-source')) {
            if (!$source.length) {
              $source = $("<div/>").attr('id', 'example-chart-1-source').html('<pre>' + $('#example-1-source').html() + '</pre>');
            }
            $sourceWrapper.find('div.container > div.row').append($source);
            $('html, body').animate({ scrollTop: $source.offset().top });
          } else {
            $sourceWrapper.hide();
          }

          event.preventDefault();
        });

        if (!Modernizr.touch) {
          // disable scrolling and implement paging
          var pager = new VerticalPager($('#section-overview, section, #section-example-1'));

          window.setTimeout(function() {
            pager.init();
          }, 100);

          $('#page-nav a').on('click', function(event) {
            event.preventDefault();
            var $this = $(this);
            pager.gotoSection($($this.attr('href')));
          });
        }
      }); // ready
    })(window, window.document);
  </script>
</body>
</html>
