

svg.plottable {
  display : block; /* SVGs must be block elements for width/height calculations to work in Firefox. */
}

.plottable div {
  display: inline;
}

.plottable .bounding-box {
  fill: none;
}

.plottable .label text {
  font-family: sans-serif;
  fill: #656565;
}

.plottable .axis-label text {
  font-size: 14pt;
}

.plottable .title-label text {
  font-size: 30pt;

}

.plottable .text-label-vertical {
  writing-mode: tb;
}

.plottable .axis path,
.plottable .axis line {
  stroke: #979797;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.plottable .axis .tick line {
  opacity: 0;
}
.plottable .x-axis path {
  fill: none;
  stroke-width: 2px;
  stroke: #979797;
  opacity: 0.5;
}

.plottable .y-axis path {
  stroke: none;
  fill: none;
}

.plottable .axis text {
  font-size: 10pt;
  fill: #979797;
  font-family: sans-serif;
}

.plottable .line {
  fill: none;
  stroke-width: 1.5px;
  vector-effect: non-scaling-stroke;
}

.plottable .line-renderer .line {
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
}

.plottable .table-rect {
  fill: none;
  stroke: royalblue;
}

.plottable .renderer-box {
  fill: none;
  stroke: red;
}

.plottable .axis-box {
  fill: none;
  stroke: green;
}

.plottable .crosshairs .centerpoint {
  fill: none;
  stroke: black;
}

.plottable .crosshairs path {
  stroke: black;
}

.plottable .bar-renderer .baseline {
  stroke: #999;
}

.plottable .gridlines line {
  stroke: #999;
  stroke-dasharray: 2, 2;
  opacity: 0.4;
}


.plottable .drag-box {
  fill: aliceblue;
  opacity: 1;
  stroke: #C0C8FF;

}

.plottable .selected-point {
  fill: orange;
  stroke: none;
}


.plottable .legend text {
  font-family: sans-serif;
  fill: #979797;
  font-size: 14pt;
}

.plottable .legend .legend-box {
  opacity: 0;
}
