
body {
  font: 10px sans-serif;
}

div {
  display: inline;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
  stroke: black;
}

.line {
  fill: none;
  stroke-width: 1.5px;
  vector-effect: non-scaling-stroke;
}
.random-data {
  stroke: steelblue;
}
circle {
  fill: steelblue;
}

.table-rect {
  fill: none;
  stroke: royalblue;
}

.renderer-box {
  fill: none;
  stroke: red;
}

.axis-box {
  fill: none;
  stroke: green;
}

.hit-box {
  fill: red;
  opacity: 0;
}

/*
.error {
  fill: pink;
}
*/

.bounding-box {
  fill: none;
  stroke: black;
}

.renderer-bounding-box {
  stroke: red;
}

.axis-bounding-box {
  stroke: green;
}

.table-bounding-box {
  stroke: blue;
}

.drag-box {
  fill: blue;
  opacity: 0.5;
}
