body {
  margin: 0;
}

svg {
  float: left;
}

.navigation {
  background-color: #db2e65;
  width: 100%;
  height: 50px;
  position: fixed;
  text-align: center;
  z-index: 1;
}

.results {
  margin-top: 50px;
  position: relative;
}

input:not([type=checkbox]) {
  top: 10px;
  position: relative;
  border: solid 1px;
  border-color: white;
  border-radius: 5;
  width: 150px;
  height: 30px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 13px;
  text-align: center;
}

#render {
  background-color: white;
  width: 50px;
}

#render:hover {
  background-color: whitesmoke;
}

#render:active {
  background-color: white;
}

.content {
  left: 0px;
  margin: 0 auto;
  position: absolute;
}

.sidebar {
  width: 300px;
  height: 100%;
  background-color: #343434;
  position: fixed;
  visibility: hidden;
  color: whitesmoke;
  left: -300px;
  padding-top: 50px;
}

.sidebar span {
  float: right;
}

.sidebar-quicktest {
  padding: 10px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 15px;
  text-align: left;
  border-top: 1px solid #494949;
}

#expand-sidebar {
  float: left;
  top: 10px;
  color: white;
  margin: 10 0 0 10;
  font-size: 1.3rem;
  text-decoration: none;
}



