<!-- Nav: Main -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div>
      <ul class="nav navbar-nav">
        <li{% if page.page_id == 'page-overview' %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Overview</a></li>
        <li{% if page.page_id == 'page-api' %} class="active"{% endif %}><a href="#">API</a></li>
        <li{% if page.page_id == 'page-doc' %} class="active"{% endif %}><a href="#">Documentation</a></li>
        <li{% if page.page_id == 'page-tutorials' %} class="active"{% endif %}><a href="{{ site.baseurl }}/tutorials/">Tutorials</a></li>
        <li{% if page.page_id == 'page-examples' %} class="active"{% endif %}><a href="{{ site.baseurl }}/examples/">Examples</a></li>
      </ul>
    </div>

  </div><!-- /.container-fluid -->
</nav>
