<!-- Nav: Main -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div>
      <ul class="nav navbar-nav">
        {% if page.page_id == 'page-overview' %}
        <li class="active"><a href="{{ site.baseurl }}/">Overview</a></li>
        {% else %}
        <li><a id="plottable-logo" href="{{ site.baseurl }}/">Plottable.JS</a></li>
        {% endif %}
        <li{% if page.page_id == 'page-api' %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/">API</a></li>
        <li{% if page.page_id == 'page-components' %} class="active"{% endif %}><a href="{{ site.baseurl }}/components/">Components</a></li>
        <li{% if page.page_id == 'page-tutorials' %} class="active"{% endif %}><a href="{{ site.baseurl }}/tutorials/">Tutorials</a></li>
        <li{% if page.page_id == 'page-examples' %} class="active"{% endif %}><a href="{{ site.baseurl }}/examples/">Examples</a></li>
      </ul>
    </div>

  </div><!-- /.container-fluid -->
</nav>
