.plottable .demo-table-title text {
  text-decoration: underline;
}

.plottable .scatterplot-title text {
  font-size: 24pt;
}

.plottable .histogram-title text {
  font-size: 24pt;

.plottable .axis-label text {
  font-size: 12pt;
}
