body{
  font-family: sans-serif;
  margin: 0px;
}

h2{
  font-family: sans-serif;
}

.quicktest{
  border: solid 1px black;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

.first{
  position: absolute;
  display: block;
}

.second{
  position: absolute;
  display: block;
}


#results{
  margin: 50px auto;
}

.controls{
  background-color: #2c2b6f;
  width: 100%;
  height: 50px;
  position: fixed;
  text-align: center;
  z-index: 2;
}

.control-knobs{
  margin-top: 10px;
  color: white;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 13px;
}

select, input:not([type=checkbox]) {
  position: relative;
  border: solid 1px;
  border-radius: 5px;
  border-color: white;
  width: auto;
  height: 30px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 13px;
  text-align: center;
}

#category{
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.button{
  background-color: white;
}

.button:hover{
  background-color: whitesmoke;
}

.button:active{
  background-color: white;
}

.size-controls{
  background-color: #41407D;
  top: 50px;
  width: 100%;
  height: 50px;
  position: fixed;
  text-align: center;
  z-index: 1;
  display:none;
}

#expand{
  width: 25px;
  height: 25px;
  text-align: center;
}

#help{
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 10px;
}

#help:hover{
  background-color: white;
}

#test-category-descriptions{
  width: 300px;
  display: none;
  position: absolute;
  z-index: 2;
  border:1px solid #333;
  background-color:#161616;
  border-radius:5px;
  padding:10px;
  color:#fff;
  font-size: 13px;
  font-weight: lighter;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: #343434;
  position: fixed;
  visibility: hidden;
  color: whitesmoke;
  left: -20%;
  padding-top: 50px;
  overflow: auto;
  z-index: 1;
}

.sidebar input{
  margin: 10px;
}

.sidebar-quicktest-category {
  padding: 10px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 15px;
  text-align: left;
  border-top: 1px solid #494949;
}

.sidebar-quicktest{
  padding-left: 10px;
  list-style-type: none;
  font-size: 13px;
}

#expand-sidebar {
  float: left;
  color: white;
  margin-left: 10px;
  font-size: 1.3rem;
  text-decoration: none;
}

.content {
  left: 0px;
  margin: 0 auto;
  position: absolute;
}

ol{
  padding: 0px;
  margin: 0px;
}

.plottable .guide-line-layer.red line.guide-line {
    stroke: #F00;
    stroke-width: 1px;
}

.plottable .guide-line-layer.green line.guide-line {
    stroke: #0F0;
    stroke-width: 1px;
}
