</style>
<link rel="stylesheet" type="text/css" href="http://palantir.github.io/plottable/plottable.css">
<style type="text/css">
/*-- Add custom styles after this line --*/
.plottable .transparent-square .render-area rect {
  fill: none;
  stroke: #2FA9E7;
  opacity: 0.7;
}

.plottable .x-axis line {
  stroke: none;
}
