.demo-table-title text {
  text-decoration: line-through;
  fill: yellow;
  font-family: Times;
}

.scatterplot-title text {
  font-size: 24pt;
  fill: magenta;
  font-family: monospace;
}

.histogram-title text {
  font-size: 24pt;
  fill: cyan;
  font-family: cursive;
}

rect {
  fill: green;
}

circle {
  fill: orange;
}

.selected-point {
  fill: black;
}
