body{
  font-family: Helvetica;
}

h2{
  font-family: Helvetica;
}

svg{
/*  position: relative;
*/  width: 500px;
  height: 400px;
}

.quicktest{
  border: solid 1px black;
  position: relative;
  float: left;
  padding: 10px;
  margin: 5px;
  width: 500px;
  height: 400px;
}

.first{
  position: absolute;
}

.second{
  position: absolute;
}

#results{
  margin: 50px auto;
  position: relative;
  height: 100%;
  width: 100%;

}

.navigation{
  background-color: #db2e65;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 1;
}
