body{
  font-family: Helvetica;
}

h2{
  font-family: Helvetica;
}

svg{
    border: solid 1px black;
    float: left;
    margin: 10px;
    margin-right: 10px;
    width: 500px;
}

#result1{
	position: absolute;
	display: block;
}

#result2{
	position: absolute;
	display: block;
}