body{
  font-family: Helvetica;
}

h2{
  font-family: Helvetica;
}

svg{
  position: relative;
  width: 500px;
  height: 300px;
}

.quicktest{
  border: solid 1px black;
  margin: 3px;
  padding: 5px;
  position: relative;
  float: left;
}

#result1{
  position: absolute;
  display: block;
}

#result2{
  position: absolute;
  display: block;
}

div{
  display: inline;
}