.plottable circle {
  opacity: 0.6;
}

.plottable .sidebar-chart .title-label text {
  font-size: 12pt;
}

.plottable .sidebar-chart .axis .x-axis .tick text {
  font-size: 8pt;
}

.plottable .bar-renderer .selected {
  stroke-width: 2px;
  stroke: black;
}
