a {
    text-decoration: none;
}

a:hover {
    background: #777788;
}

h1, h2, h3, h4, h5 {
    color: #444455;
}

.nav-item {
    color: #DDDDE4;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding: 10px 20px;
}

.chart-block {
    display: inline-block;
    background-color: white;
    padding: 20px 20px;
    border-radius: 5px;
}
